#navbar-main {
	margin-bottom: 0;
}

.navbar-brand {
	margin-right: $grid-gutter-width;
}

.gems {
	background: url('http://kaymic.com/couturerox/images/gems.png') repeat-x center bottom;
	padding-bottom: 15px;
}
