<h3 class="padded-xs">Collections</h3>

<div class="list-group">
	<a href="#" class="list-group-item active">
		All Products
		<span class="badge">
			<i class="fa fa-fw fa-th"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Women
		<span class="badge">
			<i class="fa fa-fw fa-female"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Girls
		<span class="badge">
			<i class="fa fa-fw fa-child"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Men
		<span class="badge">
			<i class="fa fa-fw fa-male"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Collegiate
		<span class="badge">
			<i class="fa fa-fw fa-graduation-cap"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Specialty
		<span class="badge">
			<i class="fa fa-fw fa-star"></i>
		</span>
	</a>
	<a href="#" class="list-group-item">
		Corporate
		<span class="badge">
			<i class="fa fa-fw fa-paperclip"></i>
		</span>
	</a>
</div>
