<h3>Send A Message</h3>
<p>
	We love to hear from our customers and partners! Please use the contact form below to send us a direct message.
</p>

<h3>Wholesale</h3>

<p>
	Couture That Rox has developed a unique combination of design and manufacturing capabilities that allows us to meet the quantity needs of our customers.  Our services also include the following:
</p>

<ul>
	<li>Production of small and large size orders.</li>
	<li>Extremely competitive pricing on all orders.</li>
	<li>Excellent customer service with a proven delivery track record.</li>
	<li>An extensive selection of crystal designs, apparel styles, colors and sizes. Including, "original" stock designs and the ability to design and create any logo, or specialty design.</li>
	<li>Merchandise designed with the option of using Swarovski Crystals, premium quality crystals, rhinestones, metal rhinestuds, or nailheads.  With endless stone options, we can create designs based on any budget.</li>
	<li>Offer the highest quality cotton apparel, as well as, countless fabric options.</li>
	<li>The ability to produce designs on your merchandise.</li>
</ul>
