<aside class="panel panel-info">
	<header class="panel-heading">
		<h4 class="panel-title">Recent News</h4>
	</header>
	<div class="list-group">

		{% for post in site.posts limit: 3 %}
		<a href="{{ post.link }}" target="_blank" class="list-group-item">
			<h4 class="list-group-item-heading">
				{{ post.title }}
				{% if post.source %}
				<small>{{ post.source }}</small>
				{% endif %}
			</h4>
			<p class="list-group-item-text">
				{{ post.excerpt }}
			</p>
		</a>
		{% endfor %}

	</div>
</aside>

<aside class="panel panel-info">
	<header class="panel-heading">
		<h4 class="panel-title">Meetings</h4>
	</header>
	<div class="list-group">

		{% assign meetings = site.data.meetings | reverse %}
		{% for meeting in meetings limit: 5 %}
		<a href="#" class="list-group-item">
			{{ meeting.date | date: "%B %-d, %Y" }}
			<small>
				{{ meeting.title }}
			</small>
		</a>
		{% endfor %}

	</div>
</aside>