<h2>Upload Designs</h2>
<p>
	Upload a design from your computer here. Acceptable formats: JPG, PNG & EPS.
</p>

form

<h3>What Does Couture Really Mean?</h3>
<p>
	Couture is the work of artisans who love to create beautiful garments for clients who appreciate the intricate details of a fun, funky, yet elegant design.  Designed with their specific ideas and vision in mind, it is crafted using mastered techniques from the experience and vision of the designer. Utilizing their love and understanding of textures, fabric and latest style of glamour, glitz and sparkle, we can create what others can only imagine.
</p>
